<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">
  <div class="current-page">
    <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a>Lịch thi đấu
  </div> <!-- / .current-page -->

  <section id="ccr-slide-main" class="carousel slide" data-ride="carousel">
    <table id="calendar">
      <caption >Chủ nhật ngày 21 tháng 12 năm 2014</caption>



      <tbody>
      <tr>
        <td width="7%"></td>
        <td width="10%">13:30</td>
        <td width="28%">Newcastle v Sunderland</td>
        <td width="21%">St. James' Park</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">16:00</td>
        <td width="28%">Liverpool v Arsenal</td>
        <td width="21%">Anfield</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>

      </tbody>
    </table>





  </section><!-- /#ccr-slide-main -->


  <section class="bottom-border">
  </section> <!-- /#bottom-border -->




  <section id="ccr-world-news">
    <table id="calendar">
      <caption >Thứ 6 ngày 26 tháng 12 năm 2014</caption>


      <tbody>
      <tr>
        <td width="7%"></td>
        <td width="10%">12:45</td>
        <td width="28%">Chelsea v West Ham</td>
        <td width="21%">Stamford Bridge</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">Burnley v Liverpool</td>
        <td width="21%">Turf Moor</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">Crystal Palace v Southampton</td>
        <td width="21%">Selhurst Park</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">Everton v Stoke</td>
        <td width="21%">Goodison Park</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">Leicester v Spurs</td>
        <td width="21%">King Power Stadium</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">Man Utd v Newcastle</td>
        <td width="21%">Old Trafford</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">Sunderland v Hull</td>
        <td width="21%">Stadium of Light</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">Man Utd v Newcastle</td>
        <td width="21%">Old Trafford</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">Swansea v Aston Villa</td>
        <td width="21%">Liberty Stadium</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">15:00</td>
        <td width="28%">West Brom v Man City</td>
        <td width="21%">The Hawthorns</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%">17:30</td>
        <td width="28%">Arsenal v QPR</td>
        <td width="21%">Emirates Stadium</td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      </tbody>
    </table>

  </section> <!-- / #ccr-world-news -->




  <section class="bottom-border"></section>





</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4 ccr-home">

  <section id="ccr-calender">

    <table id="calendar">
      <caption >LIVE!</caption>
      <thead data-iceapc="1">
      <tr>
        <th width="15%" title="Monday" scope="col">Pos</th>
        <th colspan="4" scope="col" title="Tuesday">Club</th>
        <th width="15%" title="Saturday" scope="col">Pld</th>
        <th width="15%" title="Sunday" scope="col">Pts</th>
      </tr>
      </thead>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
        <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
        <td>11</td>
        <td >29</td>
      </tr>
      <tr>
        <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
        <td>11</td>
        <td >25</td>
      </tr>
      <tr>
        <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
        <td>11</td>
        <td >21</td>
      </tr>
      <tr>
        <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
        <td>11</td>
        <td >17</td>
      </tr>
      <tr>
        <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
        <td>11</td>
        <td >15</td>
      </tr>
      <tr>
        <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
        <td>11</td>
        <td >13</td>
      </tr>
      <tr>
        <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
        <td>11</td>
        <td >12</td>
      </tr>
      <tr>
        <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
        <td>11</td>
        <td >8</td>
      </tr>
      <tr>
        <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
        <td>11</td>
        <td >7</td>
      </tr>
      </tbody>
    </table>

  </section>


</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->