<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">

  <div class="current-page">
    <a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="blog.html">News <i class="fa fa-angle-double-right"></i></a> Anichebe: Berahino will fly high if he stays grounded
  </div> <!-- / .current-page -->

  <article id="ccr-article">
    <h1><a href="./new1.html" >Anichebe: Berahino will fly high if he stays grounded</a></h1>

    <div class="article-like-comment-date">
      Posted by <a href="#author">Author</a> on <time datetime="2014-02-17">2014-02-17</time> in <a href="#category">Category</a>

      <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
      <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>

    </div> <!-- /.article-like-comment-date -->


    <img src="<%=  image_path('news/new1_1.jpg') %>" alt="1st Image">
    <div class="container">

    </div>

    <img src="<%=  image_path('news/new1_2.jpg') %>" alt="2nd Image">
    <p>
      The 21-year-old has scored seven goals in 11 top-flight matches this season, more than any other Englishman, including efforts against Liverpool and Manchester United and his combination of pace and clinical finishing shown in reaching that tally has earned rave reviews and a first call-up to Roy Hodgson's England squad.
    </p>
    <p>
      However, as West Brom prepare to visit Chelsea on Saturday, Anichebe has warned the 21-year-old graduate from the club's youth academy not to get too caught up in the media attention that has accompanied his meteoric rise to prominence.
    </p>
    <p>
      "I always sing his praises because he's a quality player and he will be a quality player for years to come, if he can keep his head right," Anichebe told The Birmingham Mail. "He is young and there is a lot of pressure and expectation on him right now, but as long as he can keep doing exactly what he's been doing, not listen too much to the media and things on the outside and keep his feet on the ground, he will be fine."

      Anichebe is aware of how difficult it can be to maintain focus when hitting the headlines at a young age, having broken into the Everton first team as a 17-year-old back in 2006.
    </p>
    <div class="article-tags">
      Tag: <a href="#tag1">West Bromwich</a>, <a href="#tag2">Anichebe</a>, <a href="#tag3">Berahino</a>
    </div>

  </article> <!-- /#ccr-single-post -->


  <section class="bottom-border"></section> <!-- /#bottom-border -->


  <section id="ccr-respond">
    <div class="ccr-gallery-ttile">
      <span class="bottom"></span>
      <p>Post a Comment</p>
    </div> <!-- .ccr-gallery-ttile -->
    <div id="respond">
      <form action="#" method="post" id="commentform">
        <input id="author" name="author" type="text" placeholder="Name" value="" required>
        <input id="email" name="email" type="email" placeholder="Email" value="" required>
        <input id="url" name="url" type="url" placeholder="Website" value="">
        <textarea id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
        <input name="submit" type="submit" id="submit" value="Submit">

      </form> <!-- /#commentform -->

    </div> <!-- /#respond -->

  </section> <!-- /#ccr-respond -->


</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4">

  <section id="ccr-calender">

    <table id="calendar">
      <caption >LIVE!</caption>
      <thead data-iceapc="1">
      <tr>
        <th width="15%" title="Monday" scope="col">Pos</th>
        <th colspan="4" scope="col" title="Tuesday">Club</th>
        <th width="15%" title="Saturday" scope="col">Pld</th>
        <th width="15%" title="Sunday" scope="col">Pts</th>
      </tr>
      </thead>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="4" id="prev"><a href="leaguetable.html" title="Previous">&laquo; FULL LEAGUE TABLE</a></td>
        <td colspan="3" id="next" class="pad"><a href="form.html" title="Next">FORM GUIDE &raquo;</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td>1 &#9679;</td><td colspan="4"><div align="center"><a href="single.html" class="active">Chelsea</a></div></td>
        <td>11</td>
        <td >29</td>
      </tr>
      <tr>
        <td>2 &#9679;</td><td colspan="4"><div align="center"><a href="#">Southampton</a></div></td>
        <td>11</td>
        <td >25</td>
      </tr>
      <tr>
        <td>3 &#9679;</td><td colspan="4"><div align="center"><a href="#">Man City</a></div></td>
        <td>11</td>
        <td >21</td>
      </tr>
      <tr>
        <td>4 &uarr;</td><td colspan="4"><div align="center"><a href="#">West Ham</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>5 &uarr;</td><td colspan="4"><div align="center"><a href="#">Swansea</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>6 &darr;</td><td colspan="4"><div align="center"><a href="#">Arsenal</a></div></td>
        <td>11</td>
        <td >17</td>
      </tr>
      <tr>
        <td>7 &uarr;</td><td colspan="4"><div align="center"><a href="#">Man Utd</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>8 &uarr;</td><td colspan="4"><div align="center"><a href="#">Newcastle</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>9 &uarr;</td><td colspan="4"><div align="center"><a href="#">Stoke</a></div></td>
        <td>11</td>
        <td >15</td>
      </tr>
      <tr>
        <td>10 &darr;</td><td colspan="4"><div align="center"><a href="#">Everton</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>11 &darr;</td><td colspan="4"><div align="center"><a href="#">Liverpool</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>12 &darr;</td><td colspan="4"><div align="center"><a href="#">Spurs</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>13 &darr;</td><td colspan="4"><div align="center"><a href="#">West Brom</a></div></td>
        <td>11</td>
        <td >13</td>
      </tr>
      <tr>
        <td>14 &uarr;</td><td colspan="4"><div align="center"><a href="#">Sunderland</a></div></td>
        <td>11</td>
        <td >12</td>
      </tr>
      <tr>
        <td>15 &darr;</td><td colspan="4"><div align="center"><a href="#">Hull</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>16 &#9679;</td><td colspan="4"><div align="center"><a href="#">Aston Villa</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>17 &#9679;</td><td colspan="4"><div align="center"><a href="#">Crystal Palace</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>18 &#9679;</td><td colspan="4"><div align="center"><a href="#">Leicester</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>19 &#9679;</td><td colspan="4"><div align="center"><a href="#">QPR</a></div></td>
        <td>11</td>
        <td >8</td>
      </tr>
      <tr>
        <td>20 &#9679;</td><td colspan="4"><div align="center"><a href="#">Burnley</a></div></td>
        <td>11</td>
        <td >7</td>
      </tr>
      </tbody>
    </table>

  </section>


</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->