<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">

  <div class="current-page">
    <a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="blog.html">News <i class="fa fa-angle-double-right"></i></a> Mata aiming to revive fond memories of playing Arsenal
  </div> <!-- / .current-page -->

  <article id="ccr-article">
    <h1><a href="./new1.html" >Mata aiming to revive fond memories of playing Arsenal</a></h1>

    <div class="article-like-comment-date">
      Posted by <a href="#author">Author</a> on <time datetime="2014-02-17">2014-02-17</time> in <a href="#category">Category</a>

      <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
      <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>

    </div> <!-- /.article-like-comment-date -->


    <img src="<%=  image_path('news/new2_1.jpg') %>" alt="1st Image">
    <div class="container">

    </div>

    <img src="<%=  image_path('news/new2_2.jpg') %>" alt="2nd Image">
    <p>
      Mata has happy memories of facing Arsenal during his time with Chelsea. The Spain midfielder scored four goals in five appearances versus Arsene Wenger's team, claiming three wins against a solitary loss.

      He featured when the sides last played each other, sharing a goalless draw at Emirates Stadium in February and believes a more entertaining match is likely between two teams free to show their attacking prowess.
    </p>
    <p>
      "The Emirates is a great stadium and I hope we have a nice game and bring back three points to keep moving up the table."
    </p>
    <p>
      Mata made his case for a return to the United starting line-up by coming off the bench to score the only goal in their triumph over Crystal Palace at Old Trafford on 8 November. The break for international fixtures followed and the 26-year-old believes a little downtime is important as the English season closes in on one of its most gruelling periods.

      "We've just had a few days off that helps you to switch off both physically and mentally with a view to Christmas – the busiest period of the season when we play many games in a short time," he said.
    </p>
    <div class="article-tags">
      Tag: <a href="#tag1">Manchester United</a>, <a href="#tag2">Juan Mata</a>, <a href="#tag3">Arsenal</a>
    </div>

  </article> <!-- /#ccr-single-post -->


  <section class="bottom-border"></section> <!-- /#bottom-border -->

  <section id="ccr-respond">
    <div class="ccr-gallery-ttile">
      <span class="bottom"></span>
      <p>Post a Comment</p>
    </div> <!-- .ccr-gallery-ttile -->
    <div id="respond">
      <form action="#" method="post" id="commentform">
        <input id="author" name="author" type="text" placeholder="Name" value="" required>
        <input id="email" name="email" type="email" placeholder="Email" value="" required>
        <input id="url" name="url" type="url" placeholder="Website" value="">
        <textarea id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
        <input name="submit" type="submit" id="submit" value="Submit">

      </form> <!-- /#commentform -->

    </div> <!-- /#respond -->

  </section> <!-- /#ccr-respond -->





</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4">


  <section id="ccr-calender">

    <table id="calendar">
      <caption >LIVE!</caption>
      <thead data-iceapc="1">
      <tr>
        <th width="15%" title="Monday" scope="col">Pos</th>
        <th colspan="4" scope="col" title="Tuesday">Club</th>
        <th width="15%" title="Saturday" scope="col">Pld</th>
        <th width="15%" title="Sunday" scope="col">Pts</th>
      </tr>
      </thead>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="4" id="prev"><a href="leaguetable.html" title="Previous">&laquo; FULL LEAGUE TABLE</a></td>
        <td colspan="3" id="next" class="pad"><a href="form.html" title="Next">FORM GUIDE &raquo;</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td>1 &#9679;</td><td colspan="4"><div align="center"><a href="single.html" class="active">Chelsea</a></div></td>
        <td>11</td>
        <td >29</td>
      </tr>
      <tr>
        <td>2 &#9679;</td><td colspan="4"><div align="center"><a href="#">Southampton</a></div></td>
        <td>11</td>
        <td >25</td>
      </tr>
      <tr>
        <td>3 &#9679;</td><td colspan="4"><div align="center"><a href="#">Man City</a></div></td>
        <td>11</td>
        <td >21</td>
      </tr>
      <tr>
        <td>4 &uarr;</td><td colspan="4"><div align="center"><a href="#">West Ham</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>5 &uarr;</td><td colspan="4"><div align="center"><a href="#">Swansea</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>6 &darr;</td><td colspan="4"><div align="center"><a href="#">Arsenal</a></div></td>
        <td>11</td>
        <td >17</td>
      </tr>
      <tr>
        <td>7 &uarr;</td><td colspan="4"><div align="center"><a href="#">Man Utd</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>8 &uarr;</td><td colspan="4"><div align="center"><a href="#">Newcastle</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>9 &uarr;</td><td colspan="4"><div align="center"><a href="#">Stoke</a></div></td>
        <td>11</td>
        <td >15</td>
      </tr>
      <tr>
        <td>10 &darr;</td><td colspan="4"><div align="center"><a href="#">Everton</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>11 &darr;</td><td colspan="4"><div align="center"><a href="#">Liverpool</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>12 &darr;</td><td colspan="4"><div align="center"><a href="#">Spurs</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>13 &darr;</td><td colspan="4"><div align="center"><a href="#">West Brom</a></div></td>
        <td>11</td>
        <td >13</td>
      </tr>
      <tr>
        <td>14 &uarr;</td><td colspan="4"><div align="center"><a href="#">Sunderland</a></div></td>
        <td>11</td>
        <td >12</td>
      </tr>
      <tr>
        <td>15 &darr;</td><td colspan="4"><div align="center"><a href="#">Hull</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>16 &#9679;</td><td colspan="4"><div align="center"><a href="#">Aston Villa</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>17 &#9679;</td><td colspan="4"><div align="center"><a href="#">Crystal Palace</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>18 &#9679;</td><td colspan="4"><div align="center"><a href="#">Leicester</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>19 &#9679;</td><td colspan="4"><div align="center"><a href="#">QPR</a></div></td>
        <td>11</td>
        <td >8</td>
      </tr>
      <tr>
        <td>20 &#9679;</td><td colspan="4"><div align="center"><a href="#">Burnley</a></div></td>
        <td>11</td>
        <td >7</td>
      </tr>
      </tbody>
    </table>

  </section>


</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->