<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">

  <div class="current-page">
    <a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="blog.html">News <i class="fa fa-angle-double-right"></i></a> FPL Scout Extra: Hotshot Sturridge back on the radar
  </div> <!-- / .current-page -->

  <article id="ccr-article">
    <h1><a href="./new1.html" >FPL Scout Extra: Hotshot Sturridge back on the radar</a></h1>

    <div class="article-like-comment-date">
      Posted by <a href="#author">Author</a> on <time datetime="2014-02-17">2014-02-17</time> in <a href="#category">Category</a>

      <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
      <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>

    </div> <!-- /.article-like-comment-date -->


    <img src="<%=  image_path('news/new3_1.jpg') %>" alt="1st Image">
    <div class="container">

    </div>

    <img src="<%=  image_path('news/new3_2.jpg') %>" alt="2nd Image">
    <p>
      The England striker could make his comeback for Sunday's trip to Crystal Palace, the venue where Liverpool's tilt at their first Barclays Premier League title started going off the rails. If he does, Brendan Rodgers and Fantasy Premier League (FPL) managers are anticipating that Sturridge will immediately grease the goalscoring wheels on the faltering Liverpool machine.
    </p>
    <p>
      Sturridge began the season as a hugely popular FPL target, even with a lofty price tag of 11.5 million. He instantly delivered on his promise with an opening-day strike before a calf injury derailed his campaign. Liverpool have struggled ever since. As part of the fabled "SAS" strike force, Sturridge fired 22 goals alongside the mercurial Luis Suarez last term. The Uruguayan's departure left a void in the Liverpool front line and Sturridge has yet to get the opportunity to fill it.
    </p>
    <p>
      Deprived of Sturridge's spark, Rodgers' side have scored just 14 goals, having reached 21 by the same matchweek last season. The Mario Balotelli experiment has brought little joy for Rodgers or FPL managers and, with just a single goal in their last three, Liverpool’s livewire provider, Raheem Sterling, has rapidly diminished in an ineffectual attack.

      Sturridge can change that. Alongside Suarez, he averaged an effort on goal every 24 minutes, hitting the target with 42% of those efforts. He started this season in similar fashion, firing in 13 attempts in his three appearances, an attempt every 21 minutes. If he can maintain that rate, only Diego Costa and Sergio Aguero are likely to keep pace.
    </p>
    <div class="article-tags">
      Tag: <a href="#tag1">Liverpool</a>, <a href="#tag2">Daniel Sturridge</a> <a href="#tag3"></a>
    </div>

  </article> <!-- /#ccr-single-post -->



  <section class="bottom-border"></section> <!-- /#bottom-border -->

  <section id="ccr-respond">
    <div class="ccr-gallery-ttile">
      <span class="bottom"></span>
      <p>Post a Comment</p>
    </div> <!-- .ccr-gallery-ttile -->
    <div id="respond">
      <form action="#" method="post" id="commentform">
        <input id="author" name="author" type="text" placeholder="Name" value="" required>
        <input id="email" name="email" type="email" placeholder="Email" value="" required>
        <input id="url" name="url" type="url" placeholder="Website" value="">
        <textarea id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
        <input name="submit" type="submit" id="submit" value="Submit">

      </form> <!-- /#commentform -->

    </div> <!-- /#respond -->

  </section> <!-- /#ccr-respond -->



</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4">


  <section id="ccr-calender">

    <table id="calendar">
      <caption >LIVE!</caption>
      <thead data-iceapc="1">
      <tr>
        <th width="15%" title="Monday" scope="col">Pos</th>
        <th colspan="4" scope="col" title="Tuesday">Club</th>
        <th width="15%" title="Saturday" scope="col">Pld</th>
        <th width="15%" title="Sunday" scope="col">Pts</th>
      </tr>
      </thead>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="4" id="prev"><a href="leaguetable.html" title="Previous">&laquo; FULL LEAGUE TABLE</a></td>
        <td colspan="3" id="next" class="pad"><a href="form.html" title="Next">FORM GUIDE &raquo;</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td>1 &#9679;</td><td colspan="4"><div align="center"><a href="single.html" class="active">Chelsea</a></div></td>
        <td>11</td>
        <td >29</td>
      </tr>
      <tr>
        <td>2 &#9679;</td><td colspan="4"><div align="center"><a href="#">Southampton</a></div></td>
        <td>11</td>
        <td >25</td>
      </tr>
      <tr>
        <td>3 &#9679;</td><td colspan="4"><div align="center"><a href="#">Man City</a></div></td>
        <td>11</td>
        <td >21</td>
      </tr>
      <tr>
        <td>4 &uarr;</td><td colspan="4"><div align="center"><a href="#">West Ham</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>5 &uarr;</td><td colspan="4"><div align="center"><a href="#">Swansea</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>6 &darr;</td><td colspan="4"><div align="center"><a href="#">Arsenal</a></div></td>
        <td>11</td>
        <td >17</td>
      </tr>
      <tr>
        <td>7 &uarr;</td><td colspan="4"><div align="center"><a href="#">Man Utd</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>8 &uarr;</td><td colspan="4"><div align="center"><a href="#">Newcastle</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>9 &uarr;</td><td colspan="4"><div align="center"><a href="#">Stoke</a></div></td>
        <td>11</td>
        <td >15</td>
      </tr>
      <tr>
        <td>10 &darr;</td><td colspan="4"><div align="center"><a href="#">Everton</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>11 &darr;</td><td colspan="4"><div align="center"><a href="#">Liverpool</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>12 &darr;</td><td colspan="4"><div align="center"><a href="#">Spurs</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>13 &darr;</td><td colspan="4"><div align="center"><a href="#">West Brom</a></div></td>
        <td>11</td>
        <td >13</td>
      </tr>
      <tr>
        <td>14 &uarr;</td><td colspan="4"><div align="center"><a href="#">Sunderland</a></div></td>
        <td>11</td>
        <td >12</td>
      </tr>
      <tr>
        <td>15 &darr;</td><td colspan="4"><div align="center"><a href="#">Hull</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>16 &#9679;</td><td colspan="4"><div align="center"><a href="#">Aston Villa</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>17 &#9679;</td><td colspan="4"><div align="center"><a href="#">Crystal Palace</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>18 &#9679;</td><td colspan="4"><div align="center"><a href="#">Leicester</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>19 &#9679;</td><td colspan="4"><div align="center"><a href="#">QPR</a></div></td>
        <td>11</td>
        <td >8</td>
      </tr>
      <tr>
        <td>20 &#9679;</td><td colspan="4"><div align="center"><a href="#">Burnley</a></div></td>
        <td>11</td>
        <td >7</td>
      </tr>
      </tbody>
    </table>

  </section>


</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->