<aside id="ccr-footer-sidebar">
  <div class="container">

    <ul>
      <li class="col-md-3">
        <h5>Contact Us</h5>
        <div class="about-us">
          <a href="http://www.github.com/AIW2014-3C11-EPL">Github</a>
        </div>
      </li>

      <li class="col-md-3">
        <h5>About us</h5>
        Class: 3C-11
        <div class="site-logo">
          <a href="index.html"><img src="<%= image_path('logo3c.png') %>" alt="Side Logo" /></a>
        </div> <!-- / .navbar-header -->
      </li>

      <li class="col-md-3">
        <h5>Member</h5>
        Duong Ngoc Thang<br>
        Tran Xuan Tung<br>
        Tong Minh Duc<br>
        Nguyen Duc Vu<br>
        Luu Dieu Hoa<br>
        Nguyen Thi Minh Tram<br>

      </li>
      <li class="col-md-3">
        <h5>Tags</h5>
        <div class="tagcloud">
          <a href="#">Football</a>
          <a href="#">Camera</a>
          <a href="#">News</a>
          <a href="#">Arsenal</a>
          <a href="#">Ronald Koeman</a>
          <a href="#">Transfer</a>
        </div>

      </li>
    </ul>
  </div>

</aside> <!-- /#ccr-footer-sidebar -->


<footer id="ccr-footer">
  <div class="container">
    <div class="copyright">
      &copy; <a href="http://www.premierleague.com/">PREMIER LEAGUE 2014</a>| 3C-11| All Rights Reserved
    </div> <!-- /.copyright -->

  </div> <!-- /.container -->
</footer>  <!-- /#ccr-footer -->